@page
@model BED_Assignment_3.Pages.ListOfGuestsModel
@{
}
@using System.Collections


<h1>List of guests checked in today</h1>

<div>

    <h3>Checked In Adults: @ViewData["CheckedInAdult"]</h3><br />
    <h3>Checked In Children @ViewData["CheckedInChildren"]</h3><br />
</div>
