@page
@model BED_Assignment_3.Pages.RestaurantModel
@{
}

<div>
    <h1>Check In</h1> <br />

    <form id="Checkin-Form" method="post">
        <div>
            <label> Adults </label>
            <input asp-for="Input.NumbersOfAdults" type="number" />
        </div>
        <div>
            <label> Children </label>
            <input asp-for="Input.NumbersOfChildren" type="number" />
        </div>
        <div>
            <label> Room Number </label>
            <input asp-for="Input.RoomNumber" type="number" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>